<%= simple_form_for(@post, url: simple_form_posts_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content, as: :bootsy, input_html: {rows: 16, class: 'span12'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn' %>
  </div>
<% end %>
