<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Dummy</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Dummy', root_path, class: 'navbar-brand' %>
        </div>
      </div>
    </nav>

    <div class="container" id="main-container">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
          <button class="close" data-dismiss="alert">×</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
      <% end %>

      <%= yield %>

      <hr />

      <footer>
        <p>
          Dummy application for <%= link_to 'Bootsy', 'http://github.com/volmer/bootsy', target: '_blank' %>
        </p>
      </footer>
    </div>
  </body>
</html>
