<h3>Add comment</h3>

<%= form_for([comment.post,comment]) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, 'error') %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div>
    <%= f.label :content %>
    <div>
      <%= f.bootsy_editor :content, container: comment.post %>
    </div>
  </div>

  <%= f.submit %>
<% end %>
