<div class="comment well clearfix">
  <b><%= comment.author %> says:</b>
  <div class="content">
    <p>
      <%= raw comment.content %>
    </p>

    <%= link_to 'Edit comment', '#edit' %>
  </div>

  <div class="editor hide">
    <%= form_for([comment.post,comment]) do |f| %>
      <div class="form-group">
        <%= f.label :author %>
        <%= f.text_field :author, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.bootsy_area :content, rows: 8, class: 'form-control', container: comment.post %>
      </div>

      <div class="actions">
        <%= f.submit class: 'btn btn-secondary' %>
      </div>
    <% end %>

    <%= link_to 'Cancel', '#cancel' %>
  </div>
</div>
