<div>
  <b><%= comment.author %> says:</b>
  <div class="content">
    <p>
      <%= raw comment.content %>
    </p>

    <%= link_to 'Edit comment', '#edit' %>
  </div>

  <div class="editor hide">
    <%= form_for([comment.post,comment]) do |f| %>
      <div>
        <%= f.label :author %>
        <%= f.text_field :author %>
      </div>

      <div>
        <%= f.label :content %>
        <%= f.bootsy_area :content %>
      </div>

      <%= f.submit %>
    <% end %>

    <%= link_to 'Cancel', '#cancel' %>
  </div>
</div>
