<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, class: 'span12' %>
  </div>
  <div class="field post_content">
    <%= f.label :content %><br />
    <%= f.bootsy_area :content, rows: 16, class: 'span12' %>
  </div>
  <% if @post.new_record? %>
    <%= f.fields_for :comments do |builder| %>
      <div class="field">
        <%= builder.label :author %></br>
        <%= builder.text_field :author, :class => 'span6' %>
      </div>
      <div class="field comment_content">
        <%= builder.label :content %></br>
        <%= builder.bootsy_area :content, rows: 8, :class => 'span6' %>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
