<%= form_for(@post) do |f| %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %>

    <div>
      <%= f.bootsy_editor :content %>
    </div>
  </div>

  <%= f.submit %>
<% end %>
