<div class="btn-group">
  <%= link_to 'New post', new_post_path, class: 'btn' %>
  <%= link_to 'New post with Simple Form', new_simple_form_post_path, class: 'btn' %>
  <%= link_to 'New remote post', '#new-remote-post', class: 'btn' %>
</div>

<%= render 'remote_posts/form' %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
