<h1>New post</h1>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <div>
    <%= f.bootsy_editor :content %>
  </div>

  <h2>Comment</h2>

  <%= f.fields_for(:comments) do |sf| %>
    <%= sf.label :author %>
    <%= sf.text_field :author %>

    <%= sf.label :content, 'Comment' %>
    <div>
      <%= sf.bootsy_editor :content %>
    </div>
  <% end %>

  <%= f.submit %>

  <%= link_to 'Cancel', posts_path %>
<% end %>
