<%= form_for(Post.new, remote: true, html: { id: 'new-remote-post' }, data: { type: 'json' }) do |f| %>
  <h1>New remote post</h1>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %>

    <div>
      <%= f.bootsy_editor :content, id: 'remote-post-area' %>
    </div>
  </div>

  <%= f.submit %>
<% end %>
