<%= form_for([image.bootsy_imageable,image], :remote => true) do |f| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bootsy_image %>
    <br />
    <%= f.file_field :caption %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
