<div class="bootsy-image dropdown col-sm-2" data-id="<%= image.id %>">
  <%= link_to image_tag(image.image_file.thumb.url), '#', class: 'thumbnail',
    data: { toggle: 'dropdown' } %>

  <ul class="dropdown-menu">
    <li class="dropdown-header"><%= t 'bootsy.image.size' %></li>

    <% Bootsy.image_versions_available.each do |size| %>
      <li>
        <%= link_to t(size, scope: 'bootsy.image'), '#', class: 'insert', data: { image_size: size } %>
      </li>
    <% end %>

    <% if Bootsy.allow_destroy %>
      <li role="separator" class="divider"></li>

      <li role="presentation">
        <%= link_to t('bootsy.action.destroy'), image, method: :delete,
          remote: true, class: 'destroy-btn',
          data: { confirm: t('bootsy.image.confirm.destroy'), type: 'json' } %>
      </li>
    <% end %>
  </ul>
</div>
