<div class="bootsy-image dropdown col-sm-2" data-id="<%= image.id %>">
  <%= link_to image_tag(image.image_file.thumb.url, class: 'img-thumbnail'), '#',
    data: { toggle: 'dropdown' } %>

  <div class="dropdown-menu" role="menu">
    <h6 class="dropdown-header"><%= t 'bootsy.image.size' %></h6>

    <% Bootsy.image_versions_available.each do |size| %>
      <div class="dropdown dropdown-submenu">
        <%= link_to t(size, scope: 'bootsy.image'), '#', class: 'dropdown-item',
          data: { toggle: 'dropdown' } %>

        <div class="dropdown-menu">
          <% [:left, :right, :inline].each do |position| %>
            <%= link_to t(position, scope: 'bootsy.image.position'), '#',
              class: 'insert dropdown-item',
              data: { image_size: size.to_s, position: position.to_s } %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if Bootsy.allow_destroy %>
      <div class="dropdown-divider"></div>

      <%= link_to t('bootsy.action.destroy'), image, method: :delete, remote: true,
        data: { confirm: t('bootsy.image.confirm.destroy'), type: 'json' },
        class: 'dropdown-item destroy-btn' %>
    <% end %>
  </ul>
</div>
