<ul class="thumbnails">
  <% images.each do |image| %>
    <li class="span1 dropdown">
      <%= link_to image_tag(image.image_file.thumb.url), '#', :class => 'thumbnail', data: { toggle: 'dropdown'} %>
      <ul class="dropdown-menu" role="menu">
        <li class="nav-header"><%= t 'bootsy.image.size' %></li>
        <% Bootsy.image_versions_available.each do |size| %>
          <li class="dropdown-submenu">
            <%= link_to '#' do %>
              <i class="icon-picture"></i>
              <%= t "bootsy.image.#{size}" %>
            <% end %>
            <ul class="dropdown-menu">
              <% [:left, :right, :inline].each do |position| %>
                <li>
                  <%= link_to '#', :class => 'insert', tabindex: '-1', data: { :'image-size' => size.to_s, position: position.to_s} do %>
                    <%= t "bootsy.image.position.#{position}" %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% if Bootsy.allow_destroy %>
          <li class="divider"></li>
          <li>
            <%= link_to image, method: :delete, remote: true, data: { confirm: t('bootsy.image.confirm.destroy')}, tabindex: '-1', :class => 'destroy_btn' do %>
              <i class="icon-trash"></i>
              <%= t 'bootsy.action.destroy' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<%= refresh_btn gallery %>

<hr />

<%= render 'bootsy/images/new', {image: (defined?(image) && image.errors.any?) ? image : gallery.images.new } %>
