<ul class="thumbnails">
  <% images.each do |image| %>
    <li class="span1 dropdown">
      <%= link_to image_tag(image.image_file.thumb.url), '#', :class => 'thumbnail', data: { toggle: 'dropdown'} %>
      <ul class="dropdown-menu" role="menu">
        <li class="nav-header"><%= t 'bootsy.image.size' %></li>
        <% [:small, :medium, :large, :original].each do |size| %>
          <li>
            <%= link_to '#', :class => 'insert', tabindex: '-1', data: { :'image-size' => size.to_s} do %>
              <i class="icon-picture"></i>
              <%= t "bootsy.image.#{size}" %>
            <% end %>
          </li>
        <% end %>
        <li class="divider"></li>
        <li>
          <%= link_to image, method: :delete, remote: true, data: { confirm: t('bootsy.image.confirm.destroy')}, tabindex: '-1', :class => 'destroy_btn' do %>
            <i class="icon-trash"></i>
            <%= t 'bootsy.action.destroy' %>
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>

<%= refresh_btn gallery, :images %>

<hr />

<%= render 'bootsy/images/new', {image: (defined?(image) && image.errors.any?) ? image : gallery.images.new } %>