<div class="modal fade bootsy-modal" tabindex="-1" role="dialog"
  data-no-turbolink data-gallery-id="<%= container.bootsy_image_gallery_id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title"><%= t 'bootsy.image.p' %></h4>
      </div>

      <div class="modal-body">
        <div class="alert alert-info bootsy-empty-alert">
          <%= t 'bootsy.no_images_uploaded' %>
        </div>

        <div class="row bootsy-gallery"></div>

        <%= render 'bootsy/images/loader', image_class: 'bootsy-gallery-loader' %>

        <%= refresh_btn %>
      </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
