<h3><%= t 'bootsy.image.new' %></h3>

<%= form_for [bootsy, resource_or_nil(image.image_gallery), image], remote: true, html: {:class => 'bootsy form-inline'} do |f| %>
  <% if image.errors.any? %>
    <% image.errors.full_messages.each do |msg| %>
      <div class="alert alert-error"><%= msg %></div>
    <% end %>
  <% end %>

  <%= f.file_field :image_file %>

  <%= f.submit t('bootsy.action.load'), :class => 'btn btn-primary' %>
<% end %>
